#navbar{
height:50px;
background-color: rgb(250, 249, 246);
display:flex;
justify-content: space-around;
font-size:40px;

}

h1{
margin-left:350px;
margin-top:230px;
color: rgb(250, 249, 246);
font-size:80px;
}


@media screen and (max-width:400px)

{

h1{
font-size:70px;
margin-left:0px;
}


#navbar{
padding-top:10px;
height:55px;
width:320px;
background-color: rgb(250, 249, 246);
display:flex;
justify-content: space-around;
font-size:20px;
}


}




